<div class="login-container">
    <h1 class="login-title">Login</h1>
    <form id="loginForm" class="login-form">
        <label class="login-label">Email</label>
        <input type="email" name="email" class="login-input">
        
        <label class="login-label">Contraseña</label>
        <input type="password" name="password" class="login-input">
        
        <input type="submit" class="login-submit">
    </form>
    <p class="login-text">¿No tienes una cuenta?</p>
    <a href="/users/register" class="login-link">Regístrate</a>
</div>

<script src="/js/login.js"></script>
