<nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
    <a class="navbar-brand" href="/">E-commerce</a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/products">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/carts/">🛒</a>
        </li>
    </ul>
    <div>
        {{#if user}}
            <a href="/users"><p>Mi Perfil</p></a>
        {{else}}
            <a href="/users/login"><p>Iniciar sesion</p></a>
            <a href="/users/register"><p>Registrate</p></a>
        {{/if}}
    </div>
    <div>
        <p class="userName"></p> 
    </div>
</nav>